/* Sekati Framework Page Styles */

body, html, td {
	margin: 0px; 
	padding: 0px;
	height: 100%;
	font-family: Verdana, Arial, Geneva, sans-serif; 
	font-size: 7pt; 
	color: #F7F7F7;
	background: #000;
}

hr {
	color: #FF00FF;
	border-style: dotted;
	height: 1px;
	text-align: left;
}

h1 {
	font-size: 20px;
	font-weight: lighter;
	color: #CCC;
}

strong {
	color: #FF00FF; 
	font-weight: normal;
} 

a, a:link, a:visited {
	text-decoration: none;
	color: #FFF;
}

a:hover { 
	color: #FFF; 
	border-bottom:1px dotted #FF00FF; }
}

#flash_seo {
	position: relative;
	margin-left: 25px;
	margin-top: 50px;
	text-align: left;
}

#flash_update { 
	position: relative;
	margin-left: 25px;
	margin-top: 25px;
	text-align: center;
}