<?xml version="1.0" encoding="UTF-8"?>
<!-- 
   ____    ____    __  __   ______  ______  ______      ______  ____    ______     
  /\  _`\ /\  _`\ /\ \/\ \ /\  _  \/\__  _\/\__  _\    /\  _  \/\  _`\ /\__  _\    
  \ \,\L\_\ \ \L\_\ \ \/'/'\ \ \L\ \/_/\ \/\/_/\ \/    \ \ \L\ \ \ \L\ \/_/\ \/    
   \/_\__ \\ \  _\L\ \ , <  \ \  __ \ \ \ \   \ \ \     \ \  __ \ \ ,__/  \ \ \    
     /\ \L\ \ \ \L\ \ \ \\`\ \ \ \/\ \ \ \ \   \_\ \__   \ \ \/\ \ \ \/    \_\ \__ 
     \ `\____\ \____/\ \_\ \_\\ \_\ \_\ \ \_\  /\_____\   \ \_\ \_\ \_\    /\_____\
      \/_____/\/___/  \/_/\/_/ \/_/\/_/  \/_/  \/_____/    \/_/\/_/\/_/    \/_____/
                                                                                   
                          ___                                     ___      
                        /'___\ __                                /\_ \     
    ___    ___     ___ /\ \__//\_\     __        __  _   ___ ___ \//\ \    
   /'___\ / __`\ /' _ `\ \ ,__\/\ \  /'_ `\     /\ \/'\/' __` __`\ \ \ \   
  /\ \__//\ \L\ \/\ \/\ \ \ \_/\ \ \/\ \L\ \  __\/>  <//\ \/\ \/\ \ \_\ \_ 
  \ \____\ \____/\ \_\ \_\ \_\  \ \_\ \____ \/\_\/\_/\_\ \_\ \_\ \_\/\____\
   \/____/\/___/  \/_/\/_/\/_/   \/_/\/___L\ \/_/\//\/_/\/_/\/_/\/_/\/____/
                                      /\____/                             
                                      \_/__/ 
                                                                                                                                                                                                                     
				jason m horwitz / Sekati LLC / sekati.com 
-->
<config>
	<app>
		<name><![CDATA[Sekati API]]></name>
		<version>3.0.0.7</version>
	</app>
	<uri>
		<crossdomain><![CDATA[/crossdomain.xml]]></crossdomain>
		<data><![CDATA[xml/data.xml]]></data>
		<css><![CDATA[css/app_style.css]]></css>
	</uri>
	<option>
		<managed_menu>true</managed_menu>
		<fullscreen>true</fullscreen>
		<track>true</track>
		<key>true</key>
		<deeplink>false</deeplink>
		<log>true</log>
		<memory_alarm>20</memory_alarm>
	</option>
</config>
