/**
 * Sekati API SWF Application Styles 
 */
.main {
	font-family: "Arial";
	font-size: 9pt;
}

.header {
	font-family: "Verdana";
	font-size: 9pt;
}

.footer {
	font-family: "Georgia";
	font-size: 9pt;
}

a,a:link {
	color: #FFFFFF;
	text-decoration: none;
}

a:active,a:hover {
	text-decoration: underline;
}

a.alt,a.alt:link {
	color: #949494;
	text-decoration: none;
}

a.alt:active,a.alt:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.highlight,h1,strong {
	color: #FFFFFF;
}

.copy,h2 {
	color: #949494;
}

.dim,h3 {
	color: #4D4D4D;
}