/* Sekati Framework SWF Styles */

/* HEAD */
.head_title { font-family:"vandijck"; font-size:48pt; color:#343434; }
.head_reference { font-family:"galliard"; font-size:14pt; color:#6A6A68; }
.righthead_title0 { font-family:"galliard"; font-size:14pt; color:#9D9D9B; }
.righthead_title1 { font-family:"galliard"; font-size:14pt; color:#C2C2C1; }
.righthead_credit { font-family:"vandijck"; font-size:19pt; color:#C74700; }
.righthead_page_title { font-family:"vandijck"; font-size:30pt; color:#C26011; }
.righthead_page_sub { font-family:"vandijck"; font-size:14pt; color:#C26011; }
.righthead_page_extra { font-family:"vandijck"; font-size:12pt; color:#C26011; }

/* INTRO */
.intro_blurb { font-family:"vandijck"; font-size:30pt; color:#777777; }
.intro_blurbSm { font-family:"vandijck"; font-size:17pt; color:#777777; }
.intro_prompt {font-family:"vandijck"; font-size:30pt; color:#4B4B4B; }

/* GLOSSARY */
.gloss_key { font-family:"vandijck"; font-size:20pt; color:#003333; }
.gloss_def { font-family:"vandijck"; font-size:20pt; color:#777777; }

/* SELECTOR */
.selector_title { font-family:"vandijck"; font-size:14pt; color:#444444; }
.selector_sub { font-family:"vandijck"; font-size:9pt; color:#444444; }
.selector_extra { font-family:"vandijck"; font-size:14pt; color:#AAAAAA; }

/* GRAPH */
.markerline_zero { font-family:"galliard"; font-size:12pt; color:#4E1C00; }
.markerline_labelG { font-family:"galliard"; font-size:12pt; color:#EDB17A; }
.markerline_labelC { font-family:"galliard"; font-size:12pt; color:#D6A070; }
.markerline_labelR { font-family:"galliard"; font-size:12pt; color:#CE875D; }

/* INFOPANELS */
.info_type { font-family:"galliard"; font-size:14pt; color:#8D3D19; }
.info_type_sub { font-family:"galliard"; font-size:9pt; color:#8D3D19; }

/* MAP */
.legend_top_label { font-family:"galliard"; font-size:14pt; color:#2f2017; }
.legend_bot_label { font-family:"galliard"; font-size:14pt; color:#ccbcb3; }